<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css"/>
    <script type="text/javaScript" src="/sidebar.js"></script>
</head>

<body>

<div id="main">
<div id="topnav" class = "topnav">
    
    <button class="openbtn" onclick="sideBarButton()">☰</button>

    <a class = "active" href="/">Home</a>

<% if (user.role == "Teacher") { %>
    <a href = "/teacherLounge">Teacher Lounge</a>
<% } else if (user.role == "Student") { %>
    <a href = "/myAssessments">My Assessments</a>
<% } %>
    <a href = "/help">Help</a>

    <a id = "profile" href="/login"><img src="/user.png" alt="Profile" width="45" height="45" ></a>
</div>



<div id="mySidebar" class="sidebar">

    <% if (user.role == "Teacher") { %>
        <a href = "/managePosts">Manage Posts</a>
        <a href = "/manageAssessments">Manage Assessments</a>
        <a href = "/manageStudents">Manage Students</a>

    <% } else if (user.role == "Student") { %>
        <a href = "/myAssessments">My Assessments</a>
    <% } %>

    <a href="/professor">Professor</a>
    <a href = "/help">Help</a>

  </div>

  <div class="mainComponent">
