<%- include("partials/header"); -%>
    <h1>Assessments</h1>
    <p> <%= assessmentsContent %> </p>

    <a href = "/teacherAssessments">Teacher Side</a>
    <a href = "/studentAssessments/63770dfc6383b936b211c9d0">Student Side</a>
<%- include("partials/footer"); -%>
