<%- include("partials/header"); -%>

<h1 style="text-align: center">Help</h1>
<p style="text-align: center">
  In case of any technical error in the moodle, contact the developer at
  parsahz@protonmail.com
</p>

<%- include("partials/footer"); -%>
