<%- include("partials/header"); -%>

<h1>
  <style>
    h1 {
      padding: 10px;
    }
  </style>
  Create your Assessment
</h1>

<form action="/submitAssessment" method="post">
  <div>
    <style>
      span {
        display: block;
        overflow: hidden;
        padding: 0px 4px 0px 6px;
      }
    </style>
    <label class="labelName2" for="assname">Assessment Name:</label
    ><span>
      <input class="inputBox2" type="text" id="assname" name="assname" value=""
    /></span>

    <label class="labelName2" for="totalMarks">Total Marks:</label>
    <span>
      <input
        class="inputBox2"
        type="text"
        id="totalMarks"
        name="totalMarks"
        value=""
    /></span>

    <label class="labelName2" for="weight">Weight:</label
    ><span>
      <input class="inputBox2" type="text" id="weight" name="weight" value=""
    /></span>
  </div>
  <div>
    <input class="submit2" type="submit" value="Submit" />
  </div>
</form>

<%- include("partials/footer"); -%>
