<%- include("partials/header"); -%>

<h2>Welcome to the Teacher's Lounge</h2>
<h4 style="text-align: center">Grab a coffee and take a seat!</h4>
<div class="container">
  <p><a href="/managePosts" class="button">Manage Posts</a> <br /></p>
  <p><a href="/manageAssessments" class="button">Manage Assessments</a></p>
  <p><a href="/manageStudents" class="button">Manage Students</a></p>
</div>
<%- include("partials/footer"); -%>
