
<%- include("partials/header"); -%>

<h2>Welcome to the Teacher's Lounge</h2>
<p>Grab a coffee and take a seat!</p>


<a href="/managePosts">Manage Posts</a>
<br>
<a href="/manageAssessments">Manage Assessments</a>
<br>
<a href="/manageStudents">Manage Students</a>

<%- include("partials/footer"); -%>
