* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: rgb(235, 215, 165);
  }


/* Top navigation Bar */
.topnav {
  background-color: #111;
  overflow: hidden;
  }
.topnav button {
    float: left;
    text-align: center;
    padding: 16px 18px;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #444;
    color: white;
  }
.topnav a.active {
  background-color: #444;
    color: white;
}
.topnav #profile {
  float:right;
  padding: 2px 4px 0px 0px;
}


/* Collapsible Side navigation bar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
  }
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .openbtn {
    float:left;
    font-size: 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 20px 15px;
    border: none;

  }
  .openbtn:hover {
    background-color: #444;
  }
  #main{
    transition: margin-left .5s;
  }


/* Two main columns with 1:3 size ratio */
.column {
    float: left;
    padding: 10px;
  }
  .column.left {
    width: 75%;
  }
  .column.right {
    width: 25%;
  }

  /* Clear floats after the columns */
  .mainComponent:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Responsive layout in smaller screens */
  @media screen and (max-width: 600px) {
    .column.left, .column.right {
      width: 100%;
    }
  }


/* Announcements Flex Box */
.announcements {
    display: flex;
    background-color: rgb(255, 208, 0);
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.announcements div {
    background-color: rgb(250, 234, 131);
    margin: 10px;
    width: 95%;
}
.announcements div p {
    text-align: left;
    padding-left: 4%;
}


/* Student's Assessments Page */

.Headers{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.AssignmentTable{
  border-collapse: collapse;
  background-color:#EEF1FF;
  border:3px;
  width:700px;
  height:300px;
  box-shadow: 0px 10px 30px 5px black;
  margin: 25px auto;
}
.AssignmentTable tbody tr td{
  color: 182747;
}
.AssignmentTable thead tr{
  background-color: #FFF8EA;
}
td{
  font-family: 'Open Sans',sans-serif;
}
.Assignments{
text-align: center;
}
.LetterGrade{
  text-align: center;
  }
.LetterMark{
    text-align: center;
    }
  .Average{
    text-align: center;
    }
    .Median{
      text-align: center;
    }
#Final{
  text-align: center;
  font-weight: bold;
}

/* Chatbox */
.chatbox{
  margin-top: 20px;
  border: solid 2px rgb(196, 255, 85);
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: rgb(196, 255, 85);
}
.chatbox div {
  margin: 10px;
  width: 95%;
}
.mheader{
  color: black;
  text-align: center;
}
.mbody{
  flex:1;
  background-color: rgb(196, 230, 134);
  padding: 20px 20px 20px 20px;
}
.message{
  text-align: left;
  background-color: grey;
  padding: 10px;
  color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}
.user_message{
  margin-left: auto;
  background-color: white;
  border-radius: 10px;
  color: black;
}
.mfooter{
      display: flex;
}
#message{
  flex:0;
  height: 30px;
  width: 200px;	
  border: double;
  outline:none;
  padding-left: 5px;
  font-size: 16px;
}
#send-button{
  height: 30px;
  width: 100px;
  font-size: 18px;
  border: groove;
  outline: none;
  background-color: rgb(113, 141, 64);
  color: black;
  cursor: pointer;
}
#send-button:hover{
  background-color: grey;
  transition: 0.2s ease;
}





/* Footer */
.mainComponent {
  flex: 1 0 auto;
}
.footer-padding {
	padding-bottom: 60px;
}
.footer {
  background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    flex-shrink: 0;
  }
